/* Home Component  */
.Top-Section{
    padding: 2rem;
    display: flex;
    background-color: rgb(214, 212, 210);
}
.box{
    width: 30%;
    height: auto;
}

.nitin{
    box-shadow: 0 3px rgba(0, 0, 0, 0.647);
}
/* Project Component  */
.project{
    background-color: rgb(214, 212, 210);
}
.res_pro{
    font-size: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    color: black;
    background-color: rgb(178, 182, 182);
}

/* About Component  */
.about{
    background-color: rgb(214, 212, 210);
}
.Nitin_Img{
    width: 40%;
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-80%,-5%);
}