/* Home Component  */
.Top-Section {
  padding: 2rem;
  display: flex;
  background-color: rgba(214, 212, 210, 0.329);
}
.port:hover {
  transform: scale(1.2);
  box-shadow: 1px 1px 15px rgb(107, 102, 102);
}
.port{
  margin-top: 5%;
  width: 60%;
  border-radius: 40%;
  box-shadow: 0px 0px 20px black;
}
.box {
  width: 30%;
  height: auto;
}

.nitin {
  box-shadow: 0 3px rgba(0, 0, 0, 0.647);
}

@media only screen and (max-width: 1024px) {
  /* Top Home Justification  */
  .Top-Section {
    display: block;
    text-align: center;
  }
  .port {
    margin: 7% 0;
    width: 30%;
    border-radius: 40%;
    box-shadow: 0px 0px 20px black;
  }
  .title_home {
    font-size: 1.5rem;
  }
  .res_pro {
    font-size: 2rem;
    margin: 0;
    border-radius: 1rem;
    color: black;
    background-color: rgb(178, 182, 182);
  }

/* About Component  */
.img_container{
  width: 30%;
}
.Nitin_Img {
  width: 90%;
  border-radius: 20%;
  box-shadow: 5px 5px 20px black;
}
.about_info{
  font-size: 1rem ;
}
}

@media only screen and (max-width: 768px){
  /* Top Home Justification  */
    .word_home{
      font-size: 1.7rem;
    }
    .Top-Section {
      display: block;
      text-align: center;
    }
    .port {
      margin: 7% 0;
      width: 40%;
      border-radius: 40%;
      box-shadow: 0px 0px 20px black;
    }
    .title_home {
      font-size: 1.3rem;
      /* text-align: justify; */
    }
    .res_pro {
      
      font-size: 2rem;
      margin: 0;
      border-radius: 1rem;
      color: black;
      background-color: rgb(178, 182, 182);
    }

    /* About Component  */

.img_container{
  width: 100%;
}
.Nitin_Img {
  width: auto;
  height: 70%;
  border-radius: 20%;
  box-shadow: 5px 5px 20px black;
}
.about_info{
  font-size: 0.8rem ;
}
}

@media only screen and (max-width: 440px){
  /* Top Home Justification  */
  .word_home{
    font-size: 1.5rem;
  }
  .port {
    margin: 20% 0 7% 0;
    width: 65%;
    border-radius: 40%;
    box-shadow: 0px 0px 20px black;
  }
  .title_home {
    font-size: 1.2rem;
    /* text-align: justify; */
  }
  .res_pro {
    width: 100%;
    font-size: 1rem;
    margin: 0;
    border-radius: 1rem;
    color: black;
    background-color: rgb(178, 182, 182);
  }
}

/* Project Component  */
.project {
  background-color: rgba(214, 212, 210, 0.394);
}
.res_pro {
  font-size: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
  color: black;
  background-color: rgb(178, 182, 182);
}

/* About Component  */
.about {
  display: flex;
  background-color: rgba(214, 212, 210, 0.394);
}
.Nitin_Img {
  width: 70%;
  border-radius: 20%;
  box-shadow: 5px 5px 20px black;
}
.img_container{
  width: 30%;
}

/* Skill Componenets  */
.skill {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(214, 212, 210, 0.394);
}
.logo:hover {
  transform: scale(1.2);
  box-shadow: 1px 1px 15px rgb(107, 102, 102);
}
.logo {
  background-color: white;
  border: 1px solid gray;
  height: 12rem;
  width: 12rem;
  margin: 2rem;
  align-items: center;
}

/* Footer Css  */
.fo_img {
  width: 2.3rem;
  border-radius: 50%;
}
.fo_img:hover {
  transform: scale(1.2);
  box-shadow: 1px 1px 15px rgb(107, 102, 102);
}
.fo_imgage {
  margin-left: 1rem;
}
.footer {
  display: flex;
}